.addTaskForm{
    display: flex;
    flex-direction: column;
    margin:  20px 0; 
    width: 100%;
    .field{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .textInput{
        outline: none;
        padding: 5px;
        margin-top: 5px;
    }
}

.checkBoxField{
    display: flex;
    align-items: center;
}

.addTaskBtn{
    margin-top: 10px ;
    width: 100%;
}
